# ======================================
# Dependencies
# ======================================
node_modules/

# ======================================
# Expo
# ======================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ======================================
# Native
# ======================================
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# ======================================
# Android
# ======================================
android/.gradle/
android/app/build/
android/build/

# ======================================
# iOS
# ======================================
ios/build/

# ======================================
# Metro
# ======================================
.metro-health-check*

# ======================================
# Logs
# ======================================
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# ======================================
# Environment Variables
# ======================================
.env
.env.*
!.env.example

# ======================================
# Editors
# ======================================
.vscode/

# ======================================
# TypeScript
# ======================================
*.tsbuildinfo

# ======================================
# macOS
# ======================================
.DS_Store

# ======================================
# Windows
# ======================================
Thumbs.db
desktop.ini

# ======================================
# Firebase Admin (Nunca subir)
# ======================================
serviceAccountKey.json
firebase-admin.json

# ======================================
# Generated native folders (Expo Prebuild)
# ======================================
/ios
/android